/* BASE CSS Template */

html, body {
    height: 100%;
    background-image: url("../images/little_triangles.png");
    background-position: 50% 50%;
    background-repeat: repeat;
}

/* HEADER */
.line-margin {
    margin-top: 7px;
    opacity: .2;
}

.brand-color {
    background-color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.border-bottom {
    border-bottom: 1.25px solid #cccccc!important;
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 0;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

nav a:hover {
    color: #4aaaa5 !important;
}

header {
    margin-bottom: 40px;
}


/* SECTION */
.row {
    display: flex;
    justify-content: center;
}

.main-border-box {
    border: 1.25px solid #cccccc!important;
    padding: 25px;
    background-color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-border-box h1 {
    color: #4aaaa5;
    font-weight: bold;
}


/* FOOTER SECTION */
.footer {
    margin-top: 40px;
    padding-top: 40px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}

.container {
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
}
